In [48]:
import pandas as pd
directory = "train.csv" ##change directory here

In [49]:
df = pd.read_csv(directory)
df.head(10)

    image_id  width  height                          bbox   source
0  b6ab77fd7   1024    1024    [834.0, 222.0, 56.0, 36.0]  usask_1
1  b6ab77fd7   1024    1024   [226.0, 548.0, 130.0, 58.0]  usask_1
2  b6ab77fd7   1024    1024   [377.0, 504.0, 74.0, 160.0]  usask_1
3  b6ab77fd7   1024    1024   [834.0, 95.0, 109.0, 107.0]  usask_1
4  b6ab77fd7   1024    1024   [26.0, 144.0, 124.0, 117.0]  usask_1
5  b6ab77fd7   1024    1024  [569.0, 382.0, 119.0, 111.0]  usask_1
6  b6ab77fd7   1024    1024     [52.0, 602.0, 82.0, 45.0]  usask_1
7  b6ab77fd7   1024    1024   [627.0, 302.0, 122.0, 75.0]  usask_1
8  b6ab77fd7   1024    1024    [412.0, 367.0, 68.0, 82.0]  usask_1
9  b6ab77fd7   1024    1024   [953.0, 220.0, 56.0, 103.0]  usask_1

In [50]:
del df['image_id']

In [51]:
del df['width']
del df['height']
del df['source']

In [52]:
df.head(10)

                           bbox
0    [834.0, 222.0, 56.0, 36.0]
1   [226.0, 548.0, 130.0, 58.0]
2   [377.0, 504.0, 74.0, 160.0]
3   [834.0, 95.0, 109.0, 107.0]
4   [26.0, 144.0, 124.0, 117.0]
5  [569.0, 382.0, 119.0, 111.0]
6     [52.0, 602.0, 82.0, 45.0]
7   [627.0, 302.0, 122.0, 75.0]
8    [412.0, 367.0, 68.0, 82.0]
9   [953.0, 220.0, 56.0, 103.0]

In [53]:
df['bbox'] = df['bbox'].str[1:].str[:-1]
df.head(10)

                         bbox
0    834.0, 222.0, 56.0, 36.0
1   226.0, 548.0, 130.0, 58.0
2   377.0, 504.0, 74.0, 160.0
3   834.0, 95.0, 109.0, 107.0
4   26.0, 144.0, 124.0, 117.0
5  569.0, 382.0, 119.0, 111.0
6     52.0, 602.0, 82.0, 45.0
7   627.0, 302.0, 122.0, 75.0
8    412.0, 367.0, 68.0, 82.0
9   953.0, 220.0, 56.0, 103.0

In [54]:
df[['xmin','ymin', 'width', 'height']] = df['bbox'].str.split(',',expand=True)

In [55]:
df.head(10)

                         bbox   xmin    ymin   width  height
0    834.0, 222.0, 56.0, 36.0  834.0   222.0    56.0    36.0
1   226.0, 548.0, 130.0, 58.0  226.0   548.0   130.0    58.0
2   377.0, 504.0, 74.0, 160.0  377.0   504.0    74.0   160.0
3   834.0, 95.0, 109.0, 107.0  834.0    95.0   109.0   107.0
4   26.0, 144.0, 124.0, 117.0   26.0   144.0   124.0   117.0
5  569.0, 382.0, 119.0, 111.0  569.0   382.0   119.0   111.0
6     52.0, 602.0, 82.0, 45.0   52.0   602.0    82.0    45.0
7   627.0, 302.0, 122.0, 75.0  627.0   302.0   122.0    75.0
8    412.0, 367.0, 68.0, 82.0  412.0   367.0    68.0    82.0
9   953.0, 220.0, 56.0, 103.0  953.0   220.0    56.0   103.0

In [56]:
del df['bbox']

In [57]:
df['width'] = pd.to_numeric(df['width'],errors='coerce')
df['height'] = pd.to_numeric(df['height'],errors='coerce')
df.head(10)

    xmin    ymin  width  height
0  834.0   222.0   56.0    36.0
1  226.0   548.0  130.0    58.0
2  377.0   504.0   74.0   160.0
3  834.0    95.0  109.0   107.0
4   26.0   144.0  124.0   117.0
5  569.0   382.0  119.0   111.0
6   52.0   602.0   82.0    45.0
7  627.0   302.0  122.0    75.0
8  412.0   367.0   68.0    82.0
9  953.0   220.0   56.0   103.0

In [62]:
print(df["width"].mean())
print(df["height"].mean())

84.4350598472187
76.92730575873011

In [60]:
#maximum error for the average bounding box is then sqrt(42^2 + 38^2) = 57